* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Jost", sans-serif;
}

body {
    width: 100%;
    height: auto;
    color: #1a202c;
    text-align: left;
}

.main-body {
    margin: 0 3%;
    padding: 1rem;
}

.breadcrumb {
    background-color: transparent !important;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2.5rem !important;
    z-index: 10;
    color: white;
    background: black;
}

.narbar-logo > a {
    letter-spacing: 2.5;
    text-decoration: none;
    color: white;
}

.navbar-menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar-menu > a {
        color: white;
        text-decoration: none;
    }

.menu-toggle {
    display: none;
}

    .menu-toggle .bar {
        width: 15px;
        height: 2px;
        margin: 3px auto;
        transition: all 0.3 ease-in-out;
        background-color: white;
        cursor: pointer;
    }

.project-label {
    display: flex;
    flex-wrap: wrap;
}

    .project-label > a {
        padding: 0.1rem;
        margin: 0.2rem;
        color: white;
        text-decoration: none !important;
        border-radius: 20px;
        font-size: 0.8rem;
        padding: 2px 13px;
        cursor: default;
    }

.label {
    background-color: #8fe26e;
}

/* project details */
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.btn-applied {
    display: block;
    padding: 5px 10px;
    margin: 5px auto;
    width: 100%;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid steelblue;
    color: steelblue;
    cursor: default;
}

.apply-project {
    display: block;
    padding: 5px 10px;
    margin: 5px auto;
    width: 100%;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-submit {
    display: block;
    padding: 5px 10px;
    margin: 0 auto;
    width: 30%;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 35px;
}

.project-desc li {
    color: black !important;
    padding: 0.5rem 0 0.5rem 0;
}

.project-desc ul,
.project-desc ol{
    padding-left: 1.5rem;
    margin: 0 !important;
}

.project-desc h5 {
    margin: 1.5rem 0 2rem 0;
}

.left-box p{
    margin: 0;
}

.left-table{
    margin-top: 15px;
    line-height: 30px;
}

.left-table td:first-child {
    text-align: center;
    padding-right: 10px;
}

#pitch-textarea {
    width: 100%;
    height: auto;
    resize: none;
    min-height: 200px;
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    font-size: 15px;
    font-family: "Jost", sans-serif;
}