:root {
    --primary: #333;
    --secondary: #333;
    --errorColor: red;
    --stepNumber: 6;
    --containerWidth: 700px;
    --bgColor: #333;
    --inputBorderColor: lightgray;
}

.container-body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--bgColor);
}

::selection {
    color: #fff;
    background: var(--primary);
}
.container {
    width: var(--containerWidth);
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0 35px 10px 35px;
    margin: auto;
}
.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.container .form-outer {
    width: 100%;
    overflow: hidden;
}
.container .form-outer form {
    display: flex;
    width: calc(100% * var(--stepNumber));
}
.form-outer form .page {
    width: calc(100% / var(--stepNumber));
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .field {
    width: 100%;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
    display: inline-block;
}


form .page .field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding-left: 15px;
     margin: 0 1px; 
font-size: 18px;
    transition: border-color 150ms ease;
}
form .page .field input.invalid-input {
    border-color: var(--errorColor);
}
form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--secondary);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
form .page .field button:hover {
    background: #000;
}
form .page .btns button {
    margin-top: -20px !important;
    padding: 5px;
}
form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next {
    margin-left: 3px;
}

.desc{
    width: 100%;
    height: 230px;
    resize: none;
    min-height: 230px;
    padding: 10px 15px;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    font-size: 15px;
    font-family: "Jost", sans-serif;
}


.field-bottom {
    margin-bottom: 85px !important;
}

.field-top {
    margin-top: 90px !important;
}

.button-top{
    margin-top: 65px !important;
}

.category, .list-item{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding-left: 15px;
    /* margin: 0 1px; */
    font-size: 15px;
    transition: border-color 150ms ease;
    font-family: "Jost", sans-serif;
    margin-bottom: 10px;
}

select option:first-child{
    color: gray;
}

form .page .btns {
    display: flex !important;
}


.page-title {
    font-size: 1.5rem;
}

.sub-page-title{
    margin-bottom: 0.5rem;
}

.content {
    margin: 0 1rem;
    padding: 0 1rem;
}

.field {
    padding-top: 1.5rem;
}

.field select,
.field input{
    height: 45px;
}

.richText .richText-toolbar {
    text-align: center;
}

.label {
    margin-bottom: 0.8rem;
    font-weight: bold;
}

.text-input {
    height: 45px !important;
    width: 70px;
}

.duration-grp{
    display: grid;
}


.from-right{
    margin-right: 20px;
}

.validation {
    color: red;
}