@model ProjectPool.Models.SignUpModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="~/css/Account.css">
    @*<script src="~/js/Account.js"></script>*@

    <title>Sign In</title>
    <style>
        .login-container {
            left: 0;
            width: 50%;
            z-index: 2;
        }

        /*.container.right-panel-active .login-container {
            transform: translateX(100%);
            opacity: 1;
            z-index: 5;
        }*/

        .overlay-container-login {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
        }

        .overlay-right {
            left: 0;
            transform: translateX(100%);
        }

        .container.right-panel-active .overlay-right {
            transform: translateX(100%);
        }
    </style>

</head>
<body>
    <div class="container" id="container">

        <div class="form-container login-container">
            <form asp-action="Login">
                <h1>Login</h1>

                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Login</button>
            </form>
        </div>
        <div class="overlay-container-login">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" onclick="location.href='@Url.Action("SignUp", "Account")'">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>