@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

}

@Html.Partial("~/Views/Shared/_Navbar.cshtml")

<body>
    <section class="home-section">
        <div class="background">
            <div class="row home-container">
                <div class="col-12 col-lg-8">
                    <div class="title-content">
                        <h1>
                            1290 job available
                            <br />
                            Find a project and get started!
                        </h1>
                        <p>
                            A pool of projects ready for you to work on. Grab your chance to improve your skills and experience!
                        </p>
                    </div>

                </div>
                <div class="col-12">
                    <div class="title-input row">
                        <div class="col-lg-auto col-sm-4 col-12 flex-grow-1">
                            <input type="text" class="form-control filter" placeholder="Search.." />

                        </div>
                        <div class="col-lg-auto col-sm-4 col-12 flex-grow-1">
                            <input type="text" class="form-control filter" placeholder="Search.." />

                        </div>
                        <div class="col-lg-auto col-sm-4 col-12 flex-grow-1">
                            <input type="text" class="form-control filter" placeholder="Search.." />
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section>
    <section class="job-category-section">
        <p>
            JOB CATEGORY
        </p>
    </section>
</body>
